{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>How to name your beard, a guide</h1>
      <p>Color is super important, but it your beard doesn't really have to be the color you name it to be. The most important factor is actually the legend. I mean, you want to be a legend, right? Would you name yourself periwinklebeard? No. That's for wimps.</p>
    </div>
  </div>
</div>
{% endblock %}